<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <main>
        <h1>Shorten Your URLs</h1>
        <form method="POST" action="/">
            <input name="url" type="url" />
            <button type="submit">Submit</button>
        </form>
        {{if .}}
            <section class="created">
                <!-- <span>Created new link to <a href="{{ .Full }}">{{ .Full }}</a></span> <br />     -->
                <h2>
                    <a href="/{{ .Slug }}">{{ .Host }}/{{ .Slug }}</a>
                </h2>
                <h2>
                    <a href="{{ .Full }}">{{ .Full }}</a>
                </h2>
            </section>
        {{end}}
    </main>
</body>
</html>