<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script defer src="/static/script.js"></script>
</head>
<body>
    <main>
        <div id="blob1" class="blob"></div>
        <div id="blob2" class="blob"></div>
        <div id="blob3" class="blob"></div>
        <div id="blob4" class="blob"></div>
        <h1>
            <a href="/">
                Shorten Your URLs
            </a>
        </h1>
        <form data-label="" id="form" method="POST" action="/">
            <input id="url-input" name="url" type="url" />
            <button type="submit">Shorten</button>
        </form>
        {{if .}}
            <section class="created">
                <button
                    onclick="navigator.clipboard.writeText(this.dataset.tocopy).then(() => this.dataset.label = 'copied!')"
                    data-tocopy="{{ .Host }}/{{ .Slug }}"
                    data-label="copy!"
                    class="short"
                >
                    {{ .Host }}/{{ .Slug }}
                </button>
                <a class="full" href="{{ .Full }}">
                    {{ .Full }}
                </a>
            </section>
        {{end}}
    </main>
    <!-- TODO: Github link -->
    <footer>
        Footer
    </footer>
</body>
</html>