<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <!-- TODO: JS Validation -->
    <main>
        <div id="blob1" class="blob"></div>
        <div id="blob2" class="blob"></div>
        <div id="blob3" class="blob"></div>
        <div id="blob4" class="blob"></div>
        <h1>Shorten Your URLs</h1>
        <form method="POST" action="/">
            <input name="url" type="url" />
            <button type="submit">Shorten</button>
        </form>
        {{if .}}
            <section class="created">
                <h2>
                    <a href="/{{ .Slug }}">{{ .Host }}/{{ .Slug }}</a>
                </h2>
                <h2>
                    <a href="{{ .Full }}">{{ .Full }}</a>
                </h2>
            </section>
        {{end}}
    </main>
    <footer>
        Footer
    </footer>
</body>
</html>